[Unit]
Description=Epilation Bot
After=network.target

[Service]
User=root
Group=root
Type=simple
WorkingDirectory=/root/epilation_bot
ExecStart=/root/epilation_bot/venv/bin/python bot.py
Restart=always

[Install]
WantedBy=multi-user.target